body {
    background-image: url("img/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

h1, p {
    margin-left: 25px;
    margin-top: 20px;
}

.uitleg {
    margin-left: 25px;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    width: fit-content;
}
